@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  @apply text-lg font-semibold text-white; /* Personaliza con tus estilos */
}

h1 {
  @apply text-3xl font-bold; /* Personaliza con tus estilos */
}
html {
  background-color: #bd82f8;
  @apply h-dvh w-screen;
}

/* Personalización de barras de scroll para desktop */
@media (hover: hover) and (pointer: fine) {
  /* Ancho de la barra y separación de los bordes */
  ::-webkit-scrollbar {
    width: 14px; /* Ancho de la barra vertical */
    height: 14px; /* Altura de la barra horizontal */
  }

  ::-webkit-scrollbar-track {
    background: #f3f4f6; /* Fondo de la pista */
    border-radius: 7px; /* Bordes redondeados */
    margin: 2px; /* Espacio entre la pista y los bordes */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #9ca3af; /* Color de la barra */
    border-radius: 7px; /* Bordes redondeados */
    border: 3px solid #f3f4f6; /* Espacio entre la barra y los bordes */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #6b7280; /* Color al pasar el mouse */
  }

  /* Estilo para Firefox */
  * {
    scrollbar-width: auto; /* Ancho automático más amplio */
    scrollbar-color: #9ca3af #f3f4f6; /* Color de la barra y del fondo */
  }
}
